@model IEnumerable<TiendaVirtualWeb.Data.Article>

@{
    ViewBag.Title = "Index";
}

<h2>Articles</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th class="col-lg-4">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="col-lg-1">
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th class="col-lg-1">
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th class="col-lg-3">
            @Html.DisplayNameFor(model => model.PictureFilename)
        </th>
        <th class="col-lg-3"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PictureFilename)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "Details", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        </td>
    </tr>
}

</table>
